@import "tailwindcss";


@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ovo:wght@400&display=swap");
/* @import "postcss.config.mjs"; */



*{
  font-family: outfit;
}

@theme {
  --font-ovo: "Ovo", sans-serif;
  --font-Outfit: "Outfit", serif;
  --color-lightHover: #fcf4ff;
  --shadow-black:4px 4px 0 #000;
  --shadow-white:4px 4px 0 #fff;
}

.font-ovo {
  font-family: "Ovo", sans-serif;
}

/* html, body {
  font-family: var(--font-outfit);
} */

